.search__button {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.search__input {
  padding: 13px;
  flex-grow: 1;
  border: none;
}